@keyframes slowBounce {

    0%,
    20%,
    53%,
    80%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        transform: translate3d(0, -8px, 0);
    }

    70% {
        transform: translate3d(0, -4px, 0);
    }

    90% {
        transform: translate3d(0, -2px, 0);
    }
}

.slow-bounce {
    animation: slowBounce 3s ease-in-out infinite;
}

.slow-bounce:hover {
    animation: none;
}